<footer class="container-fluid bh-absolute-bottom">
    <div class="row footer-text" padding="20px">
        <div class="col"><img src="{{ '/images/logo/logo-ahs.png' | relative_url }}" width="100px"></div>
        <div class="col">
        <table style="width: 300px">
            <tr>
              <td>Huisstijlgids:</td>
              <td>SV Zulte Waregem Jeugdacademie</td> 
            </tr>
            <tr>
                <td>Door:</td>
                <td>Lukas Blondeel</td> 
            </tr>
            <tr>
                <td>In het kader van:</td>
                <td>Bachelorproef 3CMO 2017-2018</td> 
            </tr>
        </table>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>